.background {
    -fx-background-image: url("../images/wizardofwor_GAB.png");
    -fx-background-size: 100% 100%;
}

.pf_background {
    /*-fx-background-image: url("../images/wizard_of_wor_pal.gif");*/
    /*-fx-background-size: 100% 100%;*/
}

@font-face {
    font-family: Pixelfy;
    src: url('../fonts/Pixelfy-ow9yd.ttf');
}