@font-face {
    font-family: 'Showcard Gothic';
    src: url('../fonts/SHOWG.TTF');
}

@font-face {
    font-family: 'Press Start 2P';
    src: url('../fonts/PressStart2P-Regular.ttf') format('truetype');
}



.background {
    -fx-background-image: url("../images/wizardofwor_GAB.png");
    -fx-background-size: 100% 100%;
}

.pf_background {
    /*-fx-background-image: url("../images/wizard_of_wor_pal.gif");*/
    /*-fx-background-size: 100% 100%;*/
}


.button{
    -fx-font-family: 'Press Start 2P', cursive;
    -fx-font-size: 16;
    -fx-text-fill: #EFA8FF;
}

#MonsterHunterTitle {
    -fx-font-family: 'Showcard Gothic', cursive;
    -fx-font-size: 64;
    -fx-text-fill: linear-gradient(to bottom right, yellow, red);
}

.statsDisplay {
    -fx-font-family: 'Press Start 2P', cursive;
    -fx-font-size: 20;
}

.p1 {
    -fx-text-fill: yellow;
}

.p2 {
    -fx-text-fill: blue;
}
